[user]
	name = RazeLiberty
	email = battledroid@outlook.jp

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	editor = vim
	precomposeunicode = true
	quotepath = false

[color]
    	ui = true

[alias]
	co   = checkout
	cm   = commit
	br   = branch
	rv   = remote -v
	ru   = remote update
	rhd  = reset --hard
	rst  = reset --soft
																	
[merge]
	tool = vimdiff
	ff = true

[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B

[diff]
	tool = vimdiff
