[user]
	name = RazeLiberty
	email = battledroid@outlook.jp

[core]
	excludesfile = /Users/HappyPrince/.gitignore_global
	attributesfile = ~/.gitattributes_global
	editor = vim
	precomposeunicode = true
	quotepath = false

[color]
    	ui = auto

[alias]
	co   = checkout
	cm   = commit
	br   = branch
	rv   = remote -v
	ru   = remote update
	rhd  = reset --hard
	rst  = reset --soft
																	
[merge]
	tool = vimdiff
	ff = true

[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B

[diff]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	proxy = http://proxy:8080
[https]
	proxy = http://proxy.example.com:8080
